.App {
  text-align: center;
}

.App-logo {
  height: 40px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header-container {
  background-color: #282c34;
  min-height: 10vh;
}

.App-header{
  margin: 0px calc(30vw) 0px 40px;
  /*top right bottom left*/
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: cornflowerblue;
}

.App-header-button{
  color: white;
  height: 30px;
  background-color: #282c34;
  border: none;
  font-size: calc(3px + 2vmin);
  cursor: pointer;
}

.App-content-container{
  /*background-color: #3b3d40;*/
  min-height: 100vh;
}

.League-component-container{
  margin-left: 40px;
  margin-right: 40px;
  width: calc(100vw - 120px);
}

.Table-container{
  background-color: white;
  overflow: scroll;
}

.App-button{

}
.App-link {
  color: #61dafb;
}

.compare-header{
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
}

.clubs-select{
  margin:10px;
  border: 2px;
  width: 200px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.text{
  text-align: left;
  padding: 10px;
  font-size: 20px;
}
